.present-container {
    margin: 2em 0 2em 0;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.5);
    background-color: #e3ecf0;
    min-height: 80%;
    font-family: Garamond, Helvetica, sans-serif;
}

h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #364958;
}

button {
    font-family: Garamond, Helvetica, sans-serif;
    font-size: large;
    margin-top:22px;
}

.formatted-button {
    position: fixed;
    float: right;
    text-align: center;
    justify-content: center;
    color: #eceff1;
    box-shadow: 0.3em 0.3em 0.3em 0em rgba(0, 0, 0, 0.6);
    background-color: #364958;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
}

.lyric {
    margin: 0px 0px 15px 0px;
    padding: 10px 0px 0px 0px;
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 150%;
    color: #364958;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.lyric-container {
    margin: 2em;
    justify-content: center;
}

ul {
    position: relative;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.song-title {
    padding: 30px;
}

h1 {
    text-align: center;
    margin: 0;
}

h4 {
    font-style: italic;
    color: rgba(106, 106, 106, 0.74);
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.translations {
    margin: 0px 0px 15px 20px;
    font-style: italic;
    color: rgba(106, 106, 106, 0.74);
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

.position-lyric {
    margin: 0px 0px 0px 0px;
}