<div class="present-container">
    <div class="song-title">
        <h1>{{ song.title }}</h1>
        <h4>{{ song.author }}</h4>
    </div>
    <div class="lyric-container">
        <ul>
            <li *ngFor="let line of song.lyric; let pos = index" class="list-group position-lyric">
                <p class="lyric">{{ line }}</p>
                <p class="translations" *ngIf="song.translations">{{ song.translations[pos] }}</p>
            </li>
        </ul>
    </div>
    <button class="formatted-button" mat-fab routerLink="/song-search" routerLinkActive="active">Close</button>
</div>
