<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.pongoresume.com/images/upload/Musical%20Notes_012510b.jpg">
</div>
<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Song</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="songDetails.title" class="form-control" placeholder="Title">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="songDetails.lyric" class="form-control" placeholder="Lyric">
    </div>

    <div class="form-group">
      <button class="btn btn-outline-success btn-lg btn-block" (click)="addSong()">Create Song</button>
    </div>
  </div>
</div>


<div class="container">
  <h3 class="mb-3 text-center">Search for a song</h3>
  <div class="row">
    <div class="col-xl-12">
      <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search song by keyword">
      <ul class="modal-body list-group">
        <li *ngFor="let song of songs | filter: searchText" (click)="onSelect(song)">
          <a href="#" class="list-group-item list-group-item-action">
            <div>
              <p>{{ song.title }}</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedSong && searchText!=''" class="col-xl-12">
      <div class="container-fluid">
        <div class="row">
          <h1>{{ selectedSong.title }}</h1>
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
            Preview
          </button>
        </div>
      </div>
      <ul class="modal-body list-group">
        <div>
          <li *ngFor="let line of selectedSong.lyric">
            <p>{{ line }}</p>
          </li>
        </div>
      </ul>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">{{ selectedSong.title }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedSong" class="container-fluid">
          <ul class="modal-body list-group">
            <div class="col-xl-10">
              <li *ngFor="let line of selectedSong.lyric">
                <p>{{ line }}</p>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
